<!-- <p>footer works!</p> -->

<!-- <footer style="background-color: #34495e; color: #ecf0f1; padding: 20px; text-align: center;">
    <p>&copy; 2024 OncoPredict. Tous droits réservés.</p>
    <p>Contactez-nous à contact@oncopredict.com</p>
</footer> -->

<footer style="background-color: #34495e; color: #ecf0f1; padding: 20px; text-align: center;">
    <p>&copy; 2024 OncoPredict. Tous droits réservés.</p>
    <p>Contactez-nous à <a href="mailto:contact@oncopredict.com">contact@oncopredict.com</a></p>

    <!-- <a href="#top" (click)="scrollToTop()" class="back-to-top">
        Retourner en haut <i class="fas fa-arrow-up"></i>
    </a> -->
</footer>
  
