<!-- <p>home works!</p> -->

<!-- <h1>Bienvenue sur notre outil de prédiction du cancer</h1>
<p>Utilisez notre outil pour obtenir des prédictions personnalisées basées sur des données multi-omiques.</p> -->

<div style="margin-top: 5px; padding: 20px;">
    <h1>Introduction à OncoPredict</h1>
    <p>Bienvenue sur OncoPredict, votre outil de prédiction personnalisée pour le traitement du cancer. Nous utilisons des approches avancées en statistiques bayésiennes et des données multi-omiques pour offrir des prédictions précises et adaptées à chaque patient.</p>

    <h2>Objectif de l'Application</h2>
    <p>OncoPredict vise à aider les cliniciens et les chercheurs à prédire les résultats des traitements contre le cancer en intégrant des données complexes provenant de multiples sources. Notre objectif est de fournir une aide précieuse dans la prise de décision clinique en oncologie.</p>

    <h2>Fonctionnalités Principales</h2>
    <ul>
        <li><strong>Prédiction Personnalisée :</strong> Obtenez des prédictions de réponse au traitement basées sur les données spécifiques du patient.</li>
        <li><strong>Interface Conviviale :</strong> Navigation intuitive pour une utilisation facile par les cliniciens et les chercheurs.</li>
        <li><strong>Analyse Avancée :</strong> Utilisation de modèles bayésiens pour intégrer et analyser les données multi-omiques.</li>
    </ul>

    <!-- <h2>Guide Rapide d'Utilisation</h2>
    <ol>
        <li><strong>Étape 1 :</strong> Authentification - Connectez-vous à votre compte pour accéder aux fonctionnalités.</li>
        <li><strong>Étape 2 :</strong> Importation des Données - Importez les données multi-omiques du patient ou utilisez des données existantes.</li>
        <li><strong>Étape 3 :</strong> Prédiction - Lancez une prédiction en sélectionnant les paramètres appropriés.</li>
        <li><strong>Étape 4 :</strong> Interprétation des Résultats - Analysez les résultats pour obtenir des insights cliniques précieux.</li>
        <li><strong>Étape 5 :</strong> Documentation et Suivi - Documentez les résultats et suivez les recommandations pour le traitement.</li>
    </ol> -->

    <h2>Guide Rapide d'Utilisation</h2>
    <ol>
        <li><strong>Étape 1 :</strong> Prise en Charge des Tests - Les cliniciens effectuent des tests sur les patients pour recueillir les données nécessaires.</li>
        <li><strong>Étape 2 :</strong> Importation des Données - Importations des données multi-omiques des patients dans l'outil de prédiction ou utilisation des données existantes.</li>
        <li><strong>Étape 3 :</strong> Prédiction - Utilisation de l'outil pour la prédiction et observation de la probabilité que le patient présente un cancer tout en sélectionnant les paramètres appropriés.</li>
        <li><strong>Étape 4 :</strong> Interprétation des Résultats - Analyse des résultats obtenus, pour obtenir des insights cliniques précieux et pour prendre des décisions cliniques éclairées.</li>
        <!-- <li><strong>Étape 5 :</strong> Documentation et Suivi - Documentation des résultats et suivis des recommandations pour le traitement du patient.</li> -->
    </ol>

    <h2>Support et Contact</h2>
    <p>Besoin d'aide supplémentaire ou de support technique ? Contactez notre équipe à <a href="mailto:contact@oncopredict.com">contact@oncopredict.com</a> ou via notre formulaire de contact en ligne.</p>

</div>
